.bg-main {
    background-color: #000033;
}

.radial-gradient {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    
    /*Fallback if gradeints don't work */
    background: #9b59b6;
    /*Linear gradient... */
    background: 
      radial-gradient(
       at center, #3498db, #9b59b6
      );
  }

  .fc-header {
    --tw-text-opacity: 1;
    color: rgb(226 232 240/var(--tw-text-opacity));
}

.fc-default {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
}

.tight-letters{
    letter-spacing: -.025em;
}