@media (min-width: 1024px) {

.lg\:frame {
    position: relative;
}

.lg\:frame::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-sizing: border-box;
    border: 2px solid rgb(203 213 225);
    transform: translate(5px, 5px);
    transition: transform 150ms;
}
}